.inputFormAddCard {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    margin-bottom: 28px;
}
.btnFormAddCard {
    width: 100%;
    background: rgb(136, 214, 47);
    border: none;
}
.btnCreateCard {
    width: 170px;
    padding: 7px;
    margin: 0px auto 10px;
    display: block;
}
.btnCreateCard:after {
    scale: 0 !important;
}
.btnCreateCard:hover.btnCreateCard:after {
    scale: 0 !important;
}
@media (max-width: 768px) {
    .btnCreateCard {
        margin: 0px;
        padding: 7px 3px;
        height: 40px;
    }
}
