.select {
    display: block;
    position: relative;
    width: 170px;
    height: 35px;
    font-size: 18px;
    color: black;
    background: white;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    margin: 0px auto;
    cursor: pointer;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    box-shadow: 0px 6px 6px rgba(34, 60, 80, 0.2);
    border-radius: 12px;
    padding: 3px 10px;
    position: relative;
    z-index: 2;
}
.selectIcon {
    font-size: 22px;
    position: relative;
    right: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectValue {
    font-size: 17px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.9);
}

.optionsOption {
    text-align: center;
    padding: 4px;
}
@media (max-width: 768px) {
    .selectIcon {
        display: none;
    }
    .optionsOption {
        font-size: 16px;
    }
}
.optionsOption:hover {
    background-color: rgba(128, 128, 128, 0.22);
}
.options {
    /* position: absolute; */
    /* left: 0px; */
    position: relative;
    top: 6px;
    width: 170px;
    max-height: 450px;
    background: white;
    z-index: 0;
    border-radius: 14px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    /* z-index: 20; */
    overflow-y: auto;
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .select {
        width: 140px;
        height: 45px;
    }
    .options {
        top: 45px;
        width: 140px;
    }
    .title {
        height: 100%;
        padding: 5px 7px;
    }
    .selectValue {
        font-size: 16px;
        width: 100%;
        text-align: center;
    }
}
.removeTheme {
    font-size: 40px;
    color: rgb(136, 214, 47);
    position: absolute;
    top: 5px;
    right: -33px;
    line-height: 0.5;
    background: transparent;
    border: none;
    padding: 2px;
    transition: var(--transition-theme);
    cursor: pointer;
}
@media (max-width: 768px) {
    .removeTheme {
        font-size: 45px;
        top: 7px;
        right: -42px;
    }
}
.relative {
    position: relative;
}
.dropDown {
    width: 57%;
    top: 90px;
    left: 100%;
    max-height: 130px;
    z-index: 50;
    transition: 0.25s;
    cursor: default;
    padding: 8px;
}
@media (max-width:768px){
    .dropDown {
        width: 70% !important;
        top: 120px !important;
        left: 40%;
        max-height: 140px;
        z-index: 50;
        transition: 0.25s;
        cursor: default;
        padding: 8px;
    }

}
.open {
    top: 83px;
}
.colorBlock {
    width: 80px;
    height: 32px;
    border: none;
    border-radius: 6px;
    margin: 0px auto 10px;
    cursor: pointer;
}
.colorBlock:last-child {
    margin-bottom: 0px;
}
.green {
    background-color: rgb(136, 214, 47);
    transition: 0.2s;
}
.green:hover {
    background-color: rgb(124, 196, 43);
}
.red {
    background-color: rgba(255, 0, 0, 0.8);
    transition: 0.2s;
}
.red:hover {
    background-color: rgba(224, 0, 0, 0.8);
}
.orange {
    background-color: orange;
    transition: 0.2s;
}
.orange:hover {
    background-color: rgb(235, 152, 0);
}
.new {
    background-color: #24292f;
    font-size: 16px;
    letter-spacing: 2px;
    color: rgb(235, 235, 235);
    transition: 0.2s;
}
.new:hover {
    background-color: #24292fd2;
}
