.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgb(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    scale: 0.4;
    transition: 0.3s;
    border-radius: 50px;
}
.modalContent {
    padding: 26px;
    background-color: white;
    min-width: 400px;
    border-radius: 12px;
    max-width: 60%;
}
.modalInputs {
    display: flex;
    flex-direction: column;
}
.modal.active {
    opacity: 1;
    visibility: visible;
    scale: 1.03;
}
.modalNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 1.2;
}
.modalMarg {
    margin-bottom: 18px;
    position: relative;
    top: -12px;
}
.modalTitle {
    font-size: 20px;
    font-weight: 500;
}
.modalClose {
    position: relative;
    top: -1px;
    right: -12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.9);
    width: 31px;
    height: 30px;
    transition: 0.2s;
}

.modalClose:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputP{
    font-size: 20px;
    position: relative;
    top: -10px;
}

.modalTitle{
    font-size: 20px;
    font-weight: 500;
}
