.title {
    font-size: 20px;
    text-align: center;
    color: var(--header);
    position: relative;
    top: -50px;
    transition: var(--transition-theme);
}
.gameCardsField {
    background-color: var(--background-cards);
    padding: 90px 0px 0px 0px;
    min-height: 100%;
    height: auto;
    padding-bottom: 15px;
    transition: var(--transition-theme);
}
.wordShared {
    width: 110px;
}
.hidden {
    opacity: 0;
    visibility: hidden;
    width: 110px;
}
.wordBlock {
    display: flex;
    align-items: center;
}

.formTitle {
    margin: 0px auto 50px;
    color: var(--form-label);
    transition: var(--transition-theme);
}
.formCards {
    margin: 0px auto 50px;
    color: whitesmoke;
}
.noWords {
    text-align: center;
    color: var(--empty-header);
    font-weight: 500;
    font-size: 25px;
    transition: var(--transition-theme);
}

/* words validate */
.trueWordColor {
    color: var(--color-true);
    transition: var(--transition-theme);
}
.falseWordColor {
    color: var(--color-false);
    transition: var(--transition-theme);
}
.almostColor {
    color: var(--color-almost);
    transition: var(--transition-theme);
}

.gameWrap {
    height: 100%;
}
.trueWord {
    box-shadow: var(--word-shadow-true);
    transition: var(--transition-theme);
}
.falseWord {
    box-shadow: var(--word-shadow-false);
    transition: var(--transition-theme);
}
.almost {
    box-shadow: var(--word-shadow-almost);
    transition: var(--transition-theme);
}
