.menu {
    height: 50px;
    background-color: #2e2e3cdc;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.15);
}

.menu__container {
    margin: 0px auto;
    max-width: 1600px;
    width: 83%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1250px) {
    .menu__container {
        width: 79%;
    }
}
.searchWrapper {
    height: 100%;
}


.menu__logo {
    font-size: 20px;
    color: #c8c8dd;
}
.menu__search {
    position: relative;
    top: 4.5px;
    max-height: 35px;
    cursor: pointer;
}
.wrap {
    margin: 0px auto;
    max-width: 1600px;
    width: 83%;
    height: 100%;
}
@media (max-width: 1250px) {
    .wrap {
        width: 79%;
    }
}
.CardsField {
    background-color: #2e2e3c;
    padding-top: 90px;
    min-height: 100%;
    height: auto;
    padding-bottom: 15px;
}

@keyframes appear {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0px);
    }
}

.stateOption-enter {
    opacity: 0;
}
.stateOption-enter-active {
    animation: appear 0.3s ease;
    opacity: 1;
    transition: 0.3s;
}
.stateOption-exit {
    opacity: 1;
}
.stateOption-exit-active {
    transform: translateY(10px);
    opacity: 0;
    transition: 0.3s;
}
.noCards{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 35px;
}