:root {
    --percent50: 50%;
    --px5: 5px;
}
.wrapper {
    display: block;
    height: 100%;
    width: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s;
}
.wrapper:hover {
    background: #383e47;
}
.wrapperActive {
    background: #383e47;
}
.navbtn {
    border: none;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    cursor: pointer;
}
.avatar {
    border-radius: 50%;
    width: 33px;
    height: 33px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
}

.arrow {
    position: relative;
    top: 1px;
    transform: rotate(0deg);
    cursor: pointer;
    transition: 0.15s;
}
.arrowActive {
    transform: rotate(180deg);
    transition: 0.15s;
}

.arrow span {
    display: block;
    width: 9px;
    height: 9px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.6);
    border-right: 3px solid rgba(255, 255, 255, 0.6);
    transform: rotate(45deg);
}

/* MENU */
.content {
    width: 280px;
    height: 200px;
    position: absolute;
    top: 110%;
    right: 0px;
    background: rgb(240, 240, 240);
    padding: 18px 0px 0px;
    box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: 0.15s;
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    font-size: 18px;
}
.hidden {
    top: 125%;
    opacity: 0;
    visibility: hidden;
}
.contentWrapper {
    flex-grow: 1;
    height: 100%;
    padding: 0px 18px;
    font-size: 16px;
}
.userMain {
    position: relative;
    display: flex;
    max-height: 46px;
    max-width: 46px;
    margin-bottom: 15px;
}

.userMain .avatar {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    top: -3px;
}

.avatarWrapper {
    position: relative;
    max-height: 46px;
    max-width: 46px;
    margin-right: 4px;
    cursor: pointer;
}

.avatarWrapper::after {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    width: 44px;
    height: 44px;
    border-radius: 50%;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}
.avatarWrapper::before {
    position: absolute;
    z-index: 1;
    font-size: 35px;
    color: white;
    content: "+";
    width: 44px;
    height: 44px;
    top: 0px;
    left: 27%;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
}
.avatarWrapper:hover::after,
.avatarWrapper:hover::before {
    opacity: 1;
    visibility: visible;
}


.theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52%;
}
.userName {
    font-size: 19px;
    line-height: 1;
}
.email {
    font-size: 14px;
    margin-bottom: 24px;
}

.mb14 {
    margin-bottom: 18px;
}
.btnExit {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgb(136, 214, 47);
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    transition: 0.15s;
}
.btnExit:hover {
    background: rgb(124, 196, 43);
}
.btnExit:after {
    scale: 0;
}
.btnExit:hover.btnExit:after {
    scale: 0;
}
