.inputFormAddCard {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    margin-bottom: 28px;
    outline: none;
    transition: 0.2s;
}
.mb36{
    margin-bottom: 36px;
}
.isOverlap {
    font-size: 17px;
    position: absolute;
    bottom: -100%;
    left: 0px;
    color: red;
    transition: 0.15s;
    margin-bottom: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
}
.isOverlap:focus{
    text-decoration: underline;
}
.isOverlap:hover {
    color: rgb(199, 0, 0);
}
@media (max-width:490px){
    .mb36{
        margin-bottom: 40px;
    }
    .isOverlap {
        font-size: 16px;
        bottom: -112%;
    }
}
.relative{
    position: relative;
}
.btnFormAddCard {
    width: 100%;
    background: rgb(136, 214, 47);
    border: none;
}
.btnFormAddCard:hover.btnFormAddCard:after {
    scale: 0 !important;
}
.btnFormAddCard:hover {
    background: rgb(124, 196, 43) !important;
}
.btnCreateCard {
    width: 170px;
    height: 35px;
    padding: 7px;
    margin: 0px auto;
    display: block;
    transition: 0s;
}
.btnMoved {
    margin-bottom: 10px;
    
}
.btnCreateCard:after {
    scale: 0 !important;
}
.btnCreateCard:hover.btnCreateCard:after {
    scale: 0 !important;
}
@media (max-width: 768px) {
    .btnCreateCard {
        display: none;
    }
}
