.content {
    width: 280px;
    height: 215px;
    position: absolute;
    top: 110%;
    right: 0px;
    font-size: 18px;
    padding: 18px 0px 0px;
    box-shadow: 0px 0px 25px 8px rgba(0, 0, 0, 0.3);
    background: rgb(240, 240, 240);
    border-radius: 10px;
    transition: 0.15s;
    display: flex;
    flex-direction: column;
    opacity: 1;
    z-index: 13;
    visibility: visible;
}
@media (max-width: 425px) {
    .content {
        width: 235px;
        right: -27px;
        padding: 10px 0px 0px;
    }
}
@media (max-width: 375px) {
    .content {
        right: -13px;
    }
}
.hidden {
    top: 125%;
    opacity: 0;
    visibility: hidden;
}
