:root{
    --px0:0px;
}
.inputOn {
    width: 175px;
    padding: 0px 8px;
    background-color: rgb(255, 255, 255);
    border: var(--input-search-border);
}
.inputOff {
    width: var(--px0);
    background-color: none;
    border: none;
}
.inputShared {
    height: 30px;
    line-height: 1;
    font-family: "Heebo", sans-serif;
    font-size: 16px;
    margin-right: 15px;
    position: relative;
    top: -5px;
    border-radius: 12px;
}

.inputOnAnimation {
    animation: menuInputOnAnimation 0.35s ease-in-out;
}
@keyframes menuInputOnAnimation {
    from {
        width: var(--px0);
        opacity: 0;
        visibility: hidden;
        border: 0px solid rgba(0, 0, 0, 0);
        padding: var(--px0);
    }
    to {
        padding: 0px 8px;
        width: 175px;
        opacity: 1;
        visibility: visible;
        border: var(--input-search-border);
    }
}
.inputOffAnimation {
    animation: menuInputOffAnimation 0.35s ease-in-out;
}
@keyframes menuInputOffAnimation {
    from {
        width: 175px;
        opacity: 1;
        visibility: visible;
        padding: 0px 8px;
        border: var(--input-search-border);
    }
    to {
        width: var(--px0);
        opacity: 0;
        visibility: hidden;
        border: 0px solid rgba(0, 0, 0, 0);
        padding: var(--px0);
    }
}
