.input {
    margin-right: 18px;
    border: none;
    border-bottom: 1px solid var(--input-borderBottom);
    background: transparent;
    color: var(--input-borderBottom);
    padding: 0px 8px;
    font-size: 17px;
    transition: var(--transition-theme);
}
.input .true {
    border: 1px solid lime;
}
