.cardRand {
    display:flex;
    margin-bottom: 30px;
    font-size: 17px;
}
.requiredWord {
    margin-right: 18px;
}
.translateRand {
    color: var(--color-word-translate);
    transition: var(--transition-theme);
}
