@import url("../../../styles//theme.css");
.textCenter {
    text-align: left !important;
    margin-left: 40px;
    color: black !important;
}
.wordsCount {
    color: var(--empty-header);
    text-align: left;
    top: 0px;
    right: 0px;
    font-size: 17px;
}
.wordsCount {
    padding-right: 6px;
}
@media (max-width: 768px) {
    .mb18 {
        margin-bottom: 18px;
    }
}
@media (max-width: 768px) {
    .wordsCount {
        text-align: left;
        margin-left: 18px;
    }
}
.input::before {
    border: 2px solid black !important;
}
.colorAndShadowBlack {
    color: black !important;
}
.colorAndShadowBlack:hover {
    box-shadow: 0px 0px 10px 1px black !important;
}
.button {
    color: var(--empty-header);
    padding: 3px 8px;
    margin-left: 4px;
    font-size: 16px;
    background: transparent;
}
.button:after {
    scale: 0 !important;
}
.button:hover.button:after {
    scale: 0 !important;
}
.button:hover {
    box-shadow: 0px 0px 10px 1px var(--empty-header);
}
