@import url("../../../styles//theme.css");
.textCenter {
    text-align: left !important;
    margin-left: 40px;
    color: black !important;
}
.wordsCount {
    color: var(--empty-header);
    text-align: left;
    top: 0px;
    right: 0px;
    font-size: 17px;
    /* margin-bottom: 10px; */
}
.wordsCount {
    padding-right: 6px;
}
@media (max-width: 768px) {
    .mb18 {
        margin-bottom: 18px;
    }
}
@media (max-width: 768px) {
    .wordsCount {
        text-align: left;
        margin-left: 18px;
    }
}
.input::before {
    border: 2px solid black !important;
}
