.title {
    font-size: 20px;
    height: 20px;
    text-align: center;
    color: var(--header);
    position: relative;
    top: -50px;
    transition: var(--transition-theme);
}
.colorSelection {
    position: relative;
    top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 110px;
    font-size: 17px;
    margin: 0px auto;
    color: var(--header);
}
.colorBlock {
    cursor: pointer;
    height: 23px;
    width: 30px;
    border-radius: 8px;
    border: 1px solid black;
}
.multiColorBlock {
    position: relative;
    background-color: rgb(255, 187, 0);
    border-radius: 8px;
}
.multiColorBlock::after {
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-color: red;
    border-radius: 8px 0px 0px 8px;
    height: 100%;
    width: 33%;
}
.multiColorBlock::before {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    background-color: rgb(136, 214, 47);
    border-radius: 0px 8px 8px 0px;
    height: 100%;
    width: 33%;
}
.gameBody {
    width: 60%;
    margin: 0px auto;
    max-width: 1600px;
}
.gameCardsField {
    background-color: var(--background-cards);
    padding: 125px 0px 0px 0px;
    /* height: 100%; */
    min-height: 100%;
    padding-bottom: 15px;
    overflow: auto;
}
.wordShared {
    width: 200px;
    justify-content: center;
}
.hidden {
    opacity: 0;
    visibility: hidden;
    width: 110px;
}
.wordBlock {
    display: flex;
    align-items: center;
    color: black;
    margin-bottom: 10px;
    max-height: 25px;
}
.translateBlock {
    display: flex;
    flex-direction: column;
}
.word {
    color: var(--input-borderBottom);
    margin-right: 6px;
}
.mb12 {
    margin-bottom: 12px;
}
.mb6{
    margin-bottom: 6px;
}
.mr6 {
    margin-right: 6px;
}
.inputEnterWordsCount {
    color: var(--input-borderBottom) !important;
    border-bottom: 1px solid var(--input-borderBottom) !important;
    max-width: 150px;
    margin: 0px auto;
    background: transparent;
}
.formTitle {
    text-align: center;
    margin: 0px auto 50px;
    color: var(--form-label);
    transition: var(--transition-theme);
    width: 100%;
}
.formCards {
    margin: 0px auto 0px;
    color: whitesmoke;
}
.noWords {
    text-align: center;
    color: var(--empty-header);
    font-weight: 500;
    font-size: 25px;
    transition: var(--transition-theme);
}
.checkButtons {
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    max-width: 320px;
}
.btnGamesCheck {
    margin: 0px auto;
    display: block;
}
@media (max-width: 767px) {
    .checkButtons {
        flex-direction: column;
    }
    .btnGamesCheck {
        margin-bottom: 19px;
    }
}

/* words validate */
.trueWordColor {
    color: var(--color-true);
    transition: var(--transition-theme);
}
.falseWordColor {
    color: var(--color-false);
    transition: var(--transition-theme);
}
.almostColor {
    color: var(--color-almost);
    transition: var(--transition-theme);
}
.gameWrap {
    height: 100%;
}
.trueWord {
    box-shadow: var(--word-shadow-true);
    transition: var(--transition-theme);
}
.falseWord {
    box-shadow: var(--word-shadow-false);
    transition: var(--transition-theme);
}
.almost {
    box-shadow: var(--word-shadow-almost);
    transition: var(--transition-theme);
}
.fz18{
    font-size: 18px;
}