:root {
    /* Vocabulary */
    --background-cards: rgb(238, 238, 238);
    --background-card: #ebebeb;
    --btn-border: rgba(0, 0, 0, 0.4) 1px solid;
    --card-icon-color: rgb(35, 112, 143);
    --select-remove-icon: rgb(35, 112, 143);
    --nav-menu-shadow: -18px 0px 52px 5px rgba(0, 0, 0, 0.24);
    --transition-theme: 0.3s ease;

    /* Games */
    --header: black;
    --form-label: black;
    --color-word-translate: black;
    --input-borderBottom: black;
    --empty-header: black;
    --color-true: rgb(45, 143, 45);
    --color-false: rgba(206, 15, 15, 0.9);
    --color-almost: rgb(221, 189, 5);
    --word-shadow-true: 0px 3px 20px -1px rgb(5, 253, 5);
    --word-shadow-false: 0px 3px 20px -2px rgba(255, 0, 0);
    --word-shadow-almost: 0px 3px 20px 0px rgb(255, 217, 0);
}
/* dark theme */
:root[data-theme="light"] {
    /* Vocabulary */
    --background-cards: rgb(238, 238, 238);
    --background-card: #ebebeb;
    --btn-border: rgba(0, 0, 0, 0.4) 1px solid;
    --card-icon-color: rgb(35, 112, 143);
    --select-remove-icon: rgb(35, 112, 143);
    --nav-menu-shadow: -18px 0px 52px 5px rgba(0, 0, 0, 0.24);
    --transition-theme: 0.3s ease;

    /* Games */
    --header: black;
    --form-label: black;
    --color-word-translate: black;
    --input-borderBottom: black;
    --empty-header: black;
    --color-true: rgb(45, 143, 45);
    --color-false: rgba(206, 15, 15, 0.9);
    --color-almost: rgb(221, 189, 5);
    --word-shadow-true: 0px 3px 20px -1px rgb(5, 253, 5);
    --word-shadow-false: 0px 3px 20px -2px rgba(255, 0, 0);
    --word-shadow-almost: 0px 3px 20px 0px rgb(255, 217, 0);
}

/* light theme */
:root[data-theme="dark"] {
    /* Vocabulary */
    --background-cards: #0d1117;
    --background-card: #ffffffd7;
    --btn-border: 1px transparent solid;
    --card-icon-color: rgb(35, 112, 143);
    --select-remove-icon: rgba(255, 255, 255, 0.712);
    --nav-menu-shadow: none;
    --transition-theme: 0.3s ease;

    /* Games */
    --header: white;
    --form-label: white;
    --color-word-translate: white;
    --input-borderBottom: white;
    --empty-header: white;
    --color-true: rgba(0, 255, 0, 0.85);
    --color-false: rgba(255, 0, 0, 0.9);
    --color-almost: rgba(255, 217, 0);
    --word-shadow-true: 0px 3px 20px -2px rgba(0, 255, 0);
    --word-shadow-false: 0px 3px 20px -2px rgba(255, 0, 0);
    --word-shadow-almost: 0px 3px 20px -2px rgb(255, 217, 0);
}
