.btnAddCard{
    background-color: rgb(219, 219, 219);
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    color: black;
    font-weight: 500;
    cursor: pointer;
}