.btnAddCard{
    background-color: var(--btn-color);;
    padding: 11px;
    border: var(--btn-border);
    border-radius: 12px;
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
    transition:var(--transition-theme);
}