:root {
    --visibilityOff: hidden;
    --visibilityOn: visible;
    --visibilityOn: visible;
    --opacityOff: 0;
    --opacityOn: 1;
    --positionAbsolute: absolute;
    --positionRelative: relative;
    --overflowHidden: hidden;
    --pointer: pointer;
}
.card {
    background: var(--background-card);
    padding: 10px 11px 12px 14px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px;
    max-height: 60px;
    position: var(--positionRelative);
    overflow: var(--overflowHidden);
    box-shadow: 0px 0px 6px 1px #030303ab;
    cursor: var(--pointer);
    transition: var(--transition-theme);
}
.cardOneColumn {
    width: 70%;
    margin: 0px auto 16px;
}
@media (max-width: 767px) {
    .card {
        width: 80% !important;
        margin: 0px auto 16px !important;
    }
}
.card:last-child {
    margin: 0px auto;
}
.word {
    line-height: 1.2;
    font-size: 19px;
    font-weight: 500;
    position: var(--positionRelative);
    top: -4px;
    max-height: 26px;
    overflow: var(--overflowHidden);
}
.translate {
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(65, 65, 65);
    position: var(--positionRelative);
    top: 1px;
    height: 23px;
    overflow: var(--overflowHidden);
}
.icon{
    opacity: var(--opacityOff);
    visibility: var(--visibilityOff);
    position: var(--positionAbsolute);
    cursor: var(--pointer);
    transition: 0.2s;
    padding: 3px;
    border: none;
    background-color: transparent;
}
.favorite {
    top: 11%;
    right: 30%;
}
.edit {
    top: 27%;
    right: 21%;
    transform: translate(8px);
}
.remove {
    top: 27%;
    right: 11.5%;
    transform: translate(-8px);
}
.card:hover .edit {
    opacity: var(--opacityOn);
    visibility: var(--visibilityOn);
    transform: translate(0px);
}
.card:hover .remove {
    opacity: var(--opacityOn);
    visibility: var(--visibilityOn);
    transform: translate(0px);
}
.card:hover .favorite {
    opacity: var(--opacityOn);
    visibility: var(--visibilityOn);
    transform: translate(0px);
}
.cardIconsize {
    height: 25px;
    width: 25px;
}
/*  mobile */
.removeIcon {
    display: none;
}
.colorMark {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 18px;
    height: 100%;
    border-radius: 0px 12px 12px 0px;
    border: none;
    cursor: pointer;
}
.green {
    background-color: rgb(136, 214, 47);
}
.red {
    background-color: rgba(255, 0, 0, 0.8);
}
.orange {
    background-color: orange;
}
.cardInfo {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 100%;
}
.new {
    color: rgb(235, 235, 235);
    background-color: #24292f;
    line-height: 1;
    font-size: 17px;
    padding: 3px;
    width: 24px;
    height: 100%;
    text-align: center;
}
.font {
    font-family: inherit;
}
